<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{productData.product_image}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">Shop item template</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span> ₹&nbsp;{{productData.price}}
                    </span>
                </div>
                <p class="lead">{{productData.description}}</p>
                <div class="d-flex">
                    <a href="products/Edit-Product/{{productData.id}}" style="text-decoration: none;">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                     Edit
                    </button>
                </a>
                    &nbsp;
                    <a href="products/delete-path/{{productData.id}}">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        Delete
                    </button>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>